@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@400;500;600;700 & family= Poppins:wght@400;500;600;700;800 & mostrar=intercambiar');

/* font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins',sans-serif ;
   
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
    
}
.header {
    align-items: center;
    min-height: 20vh;
    position: fixed;
        top: 0;
        width: 100%;
        background-color: #f3f3f3; /* Puedes ajustar el color de fondo según tus preferencias */
        z-index: 98;
    
}
.header {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
}



#izquierda{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nav_list {
    display: none;
    align-items: left;
}
.nav_item {
    margin: 0 10px;
}
.nav_link {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}
.nav_link:hover {
    background-color: #ffecef;
}
.toggle {
    display: none;
}
.close {
    display: none;
}

.buscar {
    margin-top: 5px;
    cursor: pointer;
}







#mennu {
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
 
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Puedes establecer el color de fondo deseado */
    z-index: 99;
}

.main-header__title{
    
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    margin: 10px 0;
    color: #454546;
   font-family: "Poppins";
    cursor: pointer;

    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  }

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

#ctn-icon-search {
    margin-top: -45px;
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 20px;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #FF4E00;
}

#menu {
    display: none;
}

#nav {
    display: none;
}

.menu-icono {
    width: 30px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
    margin-top: -45px;
}

.submenu #carrito {
    display: none;
}


.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #48485076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

/* buscador de contenido*/
#ctn-icon-search {
    display: flex;
    width: 50px; /* o cualquier otra medida */
    height: auto;
    
}

#ctn-icon-search i {
    font-size: 30px;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-bars-search {
    position: fixed;
    top: -10px;
    width: 100%;
    background: #f3f3f3;
    padding: 28px;
    z-index: 97;
    transition: all 600ms;
  }

#ctn-bars-search input {
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    background: #f3f3f3;

}

#box-search {
    position: fixed;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
    width: 1200px;
    background: #f3f3f3;
    z-index: 98;
    display: none;
}

#box-search li a {
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover {
    background: #f3f3f3; 
}

#box-search li a i {
    margin-right: 10px;
    color: #777777;
}

#cover-ctn-search {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 96;
    display: none;
}


/* TODO INFORMACION SOBRE UN PRODUCTO  */
.container-title {
    margin-top: 150px;
	padding: 30px;
	background-color: #f3f3f3;
	margin-bottom: 50px;
	color: #222;
    text-align: center;
    font-size: 2.5rem;
    
}

main {
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
    margin: 20px 100px 30px 100px;
}

.container-img {
	background-color: #f7f7f9;
	flex: 1;
}

.container-info-product {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-price {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-price span {
	font-size: 24px;
	font-weight: 300;
}

.container-details-product {
	padding: 30px 0;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 15px;
}

.form-group label {
	width: 100px;
	color: #222;
	font-weight: 700;
}

.form-group select {
	width: 300px;
	border: none;
	padding: 12px 15px;
	background-color: #f7f7f7;
	outline: none;
	color: #666;
}

.btn-clean {
	border: none;
	background: none;
	color: #666;
	margin-left: 120px;
	cursor: pointer;
}

.btn-clean:hover {
	color: #FF4E00;
}

.container-add-cart {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.container-quantity {
	position: relative;
}

.input-quantity {
	background-color: #f7f7f7;
	border: none;
	padding: 10px;
	width: 60px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
}

.input-quantity:focus {
	outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.btn-increment-decrement {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 7px;
	right: 7px;
}

.btn-increment-decrement i {
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: #FF4E00;
}

.fa-chevron-up:hover {
	color: #FF4E00;
}

.btn-add-to-cart {
	border: none;
	background-color: #252525;
	padding: 10px;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 700;
	cursor: pointer;
}

.btn-add-to-cart:hover {
	color: #FF4E00;
}

.hidden {
	display: none;
}

.container-description,
.container-additional-information,
.container-reviews {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
	font-weight: 300;
	color: #666;
	font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
	font-size: 13px;
	color: #252525;
	line-height: 22px;
	margin-top: 25px;
}

.container-social {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #e4e4e4;
}

.container-social span {
	font-weight: 300;
	color: #252525;
}

.container-buttons-social {
	display: flex;
	gap: 15px;
	align-items: center;
}

.container-buttons-social a:link,
.container-buttons-social a:visited {
	color: #666;
	font-size: 15px;
}

.container-buttons-social a:hover {
	color: #FF4E00;
}

.container-related-products h2 {
	text-align: center;
	margin-bottom: 30px;
}

.card-list-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.card {
	cursor: pointer;
}

.card-img {
	background: transparent;
	margin-bottom: 15px;
}

.card-img img {
	height: 400px;
	object-fit: cover;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
	display: flex;
	justify-content: space-between;
}

.text-product {
	color: #252525;
	font-weight: 300;
	line-height: 1.4;
}

.text-product h3{
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover{
    color: #1bbeb4;
}

.text-product p{
    color: #666;
    font-size: 13px;
}

.text-product p:hover{
    color: #1bbeb4;
}

.container-related-products{
    margin: 0 100px 30px 100px;
}



/* productos */
.products {
    display: none;
}
.products {
    margin-top: -80px;
    padding: 50px 0;
    text-align: center;
}

.products h2 {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
   /* text-transform: uppercase; */
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img{
    width: 250px;
    height: 370px;
    margin-bottom:20px ;   
}

.product h3 {
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio {
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio {
    font-weight: 800;
}
.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
}


/*   FOOTER  */
footer {
	padding: 30px;
	background-color: #eee;
	margin-top: 50px;
	color: #222;
}


/*    para celular    */
@media only screen and (max-width: 767px){
    .body{
        font-size: 14px;
    }

    .header {
        min-height: 10vh;
        padding: 30px 0;
    }
            
    #ctn-icon-search {
        margin-top: -5px;
        font-size: 25px;
        color: #111111;
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 20px;
    }
    #icon-searchs {
        font-size: 30px; /* Ajusta el tamaño según tus necesidades */
    }
    #izquierda{
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    #ctn-bars-search {
        margin-top: -80px;
        background-color: #f3f3f3;
        
    }
    #inputSearch {
        background-color: #f3f3f3;
        width: 100%;
        max-width: 100%;
    }

    #box-search {
        margin-top: -80px;
        width: 100%;
        max-width: 100%;
    }
    #box-search li {
        margin-left: 11px;
    }
    #mennu {
        height: 10vh;
    }



    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF4E00;
        display: none;
    }
        
    .submenu {
        position: relative;
        margin-top: 0;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #ffffff;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
        /*
            .logo {
                display: none;
            }
        */
    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .container-slider {
        margin: 10px 0;
    }


    .toggle {
        display: inline;      
        font-size: 25px;
        cursor: pointer;
    }
    .close {
        position: absolute;
        right: 25px;
        display: block;
        font-size: 25px;
        border-radius: 50%;
        cursor: pointer;
        float: right;
    }

    .close:hover {
        background-color: #fdfcfc;
    }

    #nav-menu {
        text-align: left;
    }
        
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        right: 0;
        width: 50%;
        
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
        z-index: 99; /* Índice z mayor que el menú, pero menor que otros elementos que puedan tener z-index */
    }

    .nav {
        padding: 24px;

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        z-index: 1000; /* Índice z mayor que el overlay */
    }
    .nav_item .nav_link:hover {
        
        color: #FF4E00;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-top: 1px solid black;
        
        
    }
            
    .nav_item .nav_link.nuevo {
        color: #FF4E00;
        font-weight: 900;
        
      }

    .nav_item {
        margin: 1rem 0;
        display: block;
    }
    .nav_link {
        text-decoration: none;
        color: black;
        font-weight: 900;
        
    }
        
    .show {
        left: 0;
       /* right: 0; */
    }

    .buscar {
        margin-top: 5px;
        cursor: pointer;
    }



    header {
        padding: 15px;
      }
    
      .container-title {
        margin-top: 60px;
        padding: 15px;
        margin-bottom: 20px;
      }
      .zapato {
        
        margin: 0 20px 0 20px;
      }
      .container-related-products{
        justify-content: center;
        margin: 0 10px 0 10px;
      }

    .products {
        display: none;
    }
    
      main {
        flex-direction: column; /* Cambia a un diseño de columna para dispositivos más pequeños */
        gap: 15px; /* Espaciado entre elementos más pequeño */
        margin-bottom: 40px;
      }
    .info-card{
        display: block;
    }
      .container-img,
      .container-info-product {
        flex: 1; /* Ocupan todo el ancho en dispositivos más pequeños */
        width: 100%; /* Asegura que ocupen el 100% del ancho */
      }
    
      .container-price,
      .container-details-product,
      .container-add-cart,
      .container-description,
      .container-additional-information,
      .container-reviews,
      .container-social,
      .container-related-products,
      footer {
        padding: 15px;
      }
    
      .container-buttons-social {
        flex-direction: column; /* Cambia la dirección a columna para dispositivos más pequeños */
        gap: 10px; /* Espaciado entre botones más pequeño */
      }
    
      .card-list-products {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de cuatro para dispositivos más pequeños */
        gap: 15px; /* Espaciado entre tarjetas más pequeño */
      }
    
      .card-img img {
        height: 200px; /* Altura de la imagen más pequeña */
      }








    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }
            
    .blog {
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column ;
        text-align: center;
    }
        
}